extends layout.pug

block header-content
    if (user && user.id === 1)
      include partials/header-author
    else if (user && !user.id === 1)
      include partials/header-main
    else
      include partials/header-registration

block main-content
    -
      const TypeFormatDate = {
        ARTICLE: 'article',
        COMMENT: 'comment'
      };
      const formatDate = (type, dateString) => {
        const date = new Date(dateString);
        let options;
        switch (type) {
          case TypeFormatDate.ARTICLE:
            options = {day: '2-digit', month: '2-digit', year: 'numeric'};
            break;
          case TypeFormatDate.COMMENT:
            options = {day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit'};
            break;
        }
        return date.toLocaleString('ru-RU', options);
      }
    main.articles-category
        h1 #{currentCategory.name}
        section.articles-category__theme-list
            h2.visually-hidden Список тем
            ul.themes
                each category of categories
                    if (category.id === currentCategory.id)
                        li.themes__item
                            a.themes__item-link.themes__item-link--active #{category.name}
                                sup #{category.count}
                    else
                        li.themes__item
                            a.themes__item-link(href=`/articles/category/${category.id}`) #{category.name}
                                sup #{category.count}
        section.articles-category__list.preview
            h2.visually-hidden Список превью статей
            ul.preview__list
                each article of articles.current
                    li.preview__item
                        ul.preview__breadcrumbs
                            each category of article.categories
                                li.preview__breadcrumbs-item
                                    a.preview__breadcrumbs-link(href=`/articles/category/${category.id}`) #{category.name}
                        -
                        if (article.picture)
                            .preview__background
                               img.preview__background-image(src=`/img/${article.picture}` width='460' height='240' alt=article.title)
                        time.preview__time(datetime=formatDate(TypeFormatDate.ARTICLE, article.createdAt)) #{formatDate(TypeFormatDate.ARTICLE, article.createdAt)}
                        h3.preview__name
                            a.preview__name-link(href=`/articles/${article.id}`) #{article.announce}
                        p.preview__text #{article.text}
                        a.preview__comment(href=`/articles/${article.id}`)
                            | Комментарии
                            span.preview__cloud
                            b.preview__comment-count #{(article.comments.length) || 0}
        +pagination(page, totalPages, 2, `?`)
