extends layout.pug

block header-content
    include partials/header-main

block main-content
    main.main-page.main-page--padding
        section.main-page__publication.publication
            h1.publication__title Комментарии
            ul.publication__list
                each comment, index in comments
                    if (index !== (comments.length - 1))
                        li.publication__list-item
                            .publication__header
                                if (comments.avatar)
                                    img.publication__list-image(src=`./img/${comments.avatar}` width='20' height='20' alt=comments.avatar)
                                else
                                    img.publication__list-image(src='/img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
                                b.publication__list-name #{comment.author}
                                time.publication__item-time(datetime=comment.createdDate) #{comment.createdDate}
                            a.publication__item-text(href='#')
                                | #{comment.title}
                            p.publication__text-strong
                                | #{comment.text}
                            button.publication__button.button.button--close-item(type='button')
                                span.visually-hidden Закрыть строку списка
                    else
                        li.publication__list-item.publication__list-item--last
                            .publication__header
                                if (comments.avatar)
                                    img.publication__list-image(src=`./img/${comments.avatar}` width='20' height='20' alt=comments.avatar)
                                else
                                    img.publication__list-image(src='/img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
                                b.publication__list-name #{comment.author}
                                time.publication__item-time(datetime=comment.createdDate) #{comment.createdDate}
                            a.publication__item-text(href='#')
                                | #{comment.title}
                            p.publication__text-strong
                                | #{comment.text}
                            button.publication__button.button.button--close-item(type='button')
                                span.visually-hidden Закрыть строку списка
