extends layout.pug

block header-content
    include partials/header-main

block main-content
    -
      const TypeFormatDate = {
        ARTICLE: 'article',
        COMMENT: 'comment'
      };
      const formatDate = (type, dateString) => {
        const date = new Date(dateString);
        let options;
        switch (type) {
          case TypeFormatDate.ARTICLE:
            options = {day: '2-digit', month: '2-digit', year: 'numeric'};
            break;
          case TypeFormatDate.COMMENT:
            options = {day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit'};
            break;
        }
        return date.toLocaleString('ru-RU', options);
      }
    main.main-page.main-page--padding
        section.main-page__publication.publication
            h1.publication__title Комментарии
            ul.publication__list
                each comment, index in comments
                    if (index !== (comments.length - 1))
                        li.publication__list-item
                            .publication__header
                                if (comment.users.avatar)
                                    img.publication__list-image(src=`/img/${comment.users.avatar}` width='20' height='20' alt=comment.users.name)
                                else
                                    img.publication__list-image(src='/img/icons/smile.svg' width='20' height='20' alt='Аватар пользователя')
                                b.publication__list-name #{`${comment.users.name} ${comment.users.surname}`}
                                time.publication__item-time(datetime=formatDate(TypeFormatDate.COMMENT, comment.createdAt)) #{formatDate(TypeFormatDate.COMMENT, comment.createdAt)}
                            a.publication__item-text(href=`/articles/${comment.articleId}`)
                                | #{comment.articles.title}
                            p.publication__text-strong
                                | #{comment.text}
                            a.publication__button.button.button--close-item(href=`/my/comments/${comment.articleId}/${comment.id}`)
                                span.visually-hidden Закрыть строку списка
                    else
                        li.publication__list-item.publication__list-item--last
                            .publication__header
                                if (comment.users.avatar)
                                    img.publication__list-image(src=`/img/${comment.users.avatar}` width='20' height='20' alt=comment.users.avatar)
                                else
                                    img.publication__list-image(src='/img/icons/smile.svg' width='20' height='20' alt='Аватар пользователя')
                                b.publication__list-name #{comment.author}
                                time.publication__item-time(datetime=formatDate(TypeFormatDate.COMMENT, comment.createdAt)) #{formatDate(TypeFormatDate.COMMENT, comment.createdAt)}
                            a.publication__item-text(href=`/articles/${comment.articleId}`)
                                | #{comment.articles.title}
                            p.publication__text-strong
                                | #{comment.text}
                            a.publication__button.button.button--close-item(href=`/my/comments/${comment.id}`)
                                span.visually-hidden Закрыть строку списка
